@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: rgb(0, 0, 0); */
    font-family: "Roboto", sans-serif;
}.content{
    background-color: black;
}
nav{
    height: 60px;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 30px;
    position: sticky;
    background-color: transparent;
}
nav ul{
    display: flex;
    width: 70%;
    justify-content:space-between ;
}
nav ul li{
    list-style: none;
} 
nav ul li a{
    text-decoration: none;
    color: white;
} 
.navint{
    width: 15%;
    height: 30px;
    border: 1px solid silver;
    display: flex;
 justify-content: space-between;
 align-items: center;
 color: white;
}
.content1{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: right;
    background-color: rgb(0, 0, 0);
}
.content1 .h1{
    font-size: 4rem;
    color: #fff;
}
.content1 .para{
    font-size: 20px;
    color: white;
}
 .btn{
    height: 30px;
    width: 100px;
    border: 1px solid white;
    color: white;
    background-color: transparent;
}
.btn{
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: 3px;
    padding: 10px;
}
.btn:hover{
     background-color: white;
    color:black;
}
.btn svg:hover{
    transform: scale(1.2) ;
}
.div2
{
    height: 300px;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 280px;
}
.content2
{
    width: 100vw;
    height: 100vh;
    position:relative ;
}
.content2 img{
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.868),rgba(0, 0, 0, 0.792));
}
.div3{
    width: 50%;
    position: absolute;
    top: 0;
    right: 0;

}.div3 .h1{
    font-size: 4rem;
    color: white;
}
.div3 .para{
    color: white;
}
.div3 .btn{
    width: 150px;
    background-color: rgba(0, 0, 0, 0.359);
    border: 1px solid gainsboro;
    border-radius: 5px;
    padding: 10px;
}
.div3 .btn:hover{
     background-color: white;
    color:black;
}
.div3 .btn svg:hover{
    transform: scale(1.2) ;
}
.content3{
    width: 100vw;
    position: relative;
}
.content3 video{
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.868),rgba(0, 0, 0, 0.792));
    
}
.content3 .div4 .h1 ,.para{
    color: #fff;
}
.content3 .div4 .h1{
    font-size: 4rem;
}
.div4{
    width: 50%;
    height: 300px;
    position: absolute;
    top: 100px;
    left: 100px;
}
.content3 .div4 .btn{
    width: 200px;
    background-color: rgba(0, 0, 0, 0.359);
    border: none;
    border-radius: 5px;
    padding: 10px;
}
.div4 .btn:hover{
     background-color: white;
    color:black;
}
.div4 .btn svg:hover{
    transform: scale(1.2) ;
}
.content4{
    width: 100vw;
    position: relative;
}
.content4 img{
    width: 100%;
}
.content4 .div5 .h1 ,.para{
    color: #fff;
}
.content4 .div5 .h1{
    font-size: 4rem;
}
.content4 .div5 .btn{
    width: 150px;
    background-color: rgba(0, 0, 0, 0.359);
    border: none;
    border-radius: 5px;
    padding: 10px;
}
.div5 .btn:hover{
     background-color: white;
    color:black;
}
.div5 .btn svg:hover{
    transform: scale(1.2) ;
}
.div5{
    width: 50%;
    height: 300px;
    position: absolute;
    top: 0px;
    right: 50px;
}

.content5{
    width: 100vw;
    position: relative;
}
.content5 video{
    width: 100%;
}
.content5 .div6 .h1 ,.para{
    color: #fff;
}
.content5 .div6 .h1{
    font-size: 4rem;
}
.div6{
     width: 50%;
    height: 300px;
    position: absolute;
    top: 100px;
    left: 50px;
}
.content5 .div6 .btn{
     width: 150px;
    background-color: rgba(0, 0, 0, 0.359);
    border: none;
    border-radius: 5px;
    padding: 10px;
}
.div6 .btn:hover{
     background-color: white;
    color:black;
}
.div .btn svg:hover{
    transform: scale(1.2) ;
}
.content6{
    background-color: black;
    height: 50px;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 30px;

}
.btn2{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color:rgba(0, 0, 0, 0.359) ;
}
.content6 ul li{
    list-style: none;
}
.content6 ul li a{
    text-decoration: none;
    color: white;
}
.content6 ul{
    display: flex ;
    justify-content: center;
    align-items: center;
    width:50% ;
    gap: 20px;
}
.div7{

}
